@import "reset.scss";
@import "fonts.scss";

// Colors
$red: #AA1F2E;
$red-dark: #AB192D;
$bg-color: linear-gradient(to top, #ff8402,#ff9b31 );

// Sizes
$desktop-size: 1280px;
$mobile-size: 414px;
$desktop-breakpoint: 768px;
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: $bg-color;
}

.header{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px ;

    &__logo{
        width: 100%;
        height: auto;
        img {
            width: 140px;
        }
    }
    .header__subtitle {
        font-family: 'Open Sans', sans-serif;
        color: #54555a;
    }
}

.form__container{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;

        &__description, p {
            font-family: 'Roboto', sans-serif;
            font-weight: 1000;
            color: white; 
        }
        .form__input{
            width: 100%;
            height: auto;
            margin-top: 10px;
            display: flex;
            justify-content: center;

            .input__text{
                width: 60%;
                height: 35px;
                font-size: 12px;
                background: #64656b;
                border: none;
                color: #cbcaca;
                font-family: Arial, Helvetica, sans-serif;
                padding-left: 15px;
            }
            ::placeholder{
                color: #cbcaca;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .input__submit{
            border:none;
            width: 20%;
            height: 35px;
            background: #64656b;
            color: white;
            border-left: 1px solid white;
        }
         
}

.input__submit:hover{
    background: #4f5055;
}

.section__game{
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 5px;

        .section__text--tip{
            text-align: start;
            font-family: Arial, Helvetica;
            color:#54555a;
            padding: 0px 10px;
            margin-bottom: 10px;
        }
        .game__section{
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 20px 0px;
        .list__column{
            width: 100%;
            height: auto;
            text-align: center;
            box-sizing: border-box;
            padding: 0px 0px;

            .item__answer{
                height: 35px;
                background: #f9b369;
                margin-top: 7px;
                position:relative;
                .p__text{
                    text-align: center;
                    padding-top: 5px;
                    color: white;
                }
            }
            .item__answer  .p__text{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color:white;
                visibility: hidden;
                position: absolute;
                background:#c4721b;
            }
        }
    }
}
@keyframes fadeOutTooltip{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.span__tooltip{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    bottom: 50px;
    position: absolute;
    background: white;
    display: none;
    left: 0;
    right: 0;
    animation: fadeOutTooltip .3s cubic-bezier(.36,.07,.19,.97) both ;
}
.span__tooltip:before{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px; 
    background: #fff;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transform: rotate(45deg);
}



.footer{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

        &__score-game, &__timer{
            display: flex;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 1000;
        }
}

//wrong effect
@keyframes wrong-answer{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}
.wrong-answer{
    animation: wrong-answer 1s cubic-bezier(.36,.07,.19,.97) both;
}

.modal__endgame{
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    position: fixed;
    justify-content: center;
    align-items: center;
    
    .modal__container{
        border: 2px solid white;
        background: linear-gradient(to top, #ff8402, #ff9b31);
        border-radius: 15px;
        position: absolute;
        .modal__icon{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            padding: 10px 10px 10px 0px;
            position: absolute;
            right: 0;
                .modal__icon i{
                    cursor: pointer;
                }
        }
        .modal__information p, h4{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 1000;
            color: white; 
            margin: 10px;
            padding:  0 20px;
        }
    }
}

//media query tablet
@media(min-width: 768px){
    .header{
        padding-top: 20px;
        .header__logo img{
            width: 170px;
        }
        .header__subtitle{
            font-size: 25px;
        }
    }
    .form__container{
        .form__description p{
            font-size: 25px;
            font-weight: 600;
        }
        .form__input{
            .input__text, .input__submit{
                height: 60px;
                font-size: 17px;
                margin-top: 15px;
            }
            ::placeholder{
                font-size: 17px;
            }
        }
    }
    .section__game{
        margin-top: 25px;
        padding: 0 40px;
        .section__text--tip{
            font-size: 25px;
            text-align: left;
            margin-bottom: 20px;
        }
        .game__section{
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 20px 0;
        }
        .list__column{
            padding: 0;
            .item__answer{
                height: 45px;
                background: #f9b369;
                margin-top: 7px;
                position:relative;
            }
        }
    }
    
    .footer{
        .footer__score-game{ 
            padding: 15px;
            font-size: 25px;        
        }
        .footer__timer{ 
            padding: 15px;
            font-size: 25px;        
        }
    }
}
//media query desktop
@media(min-width: 1080px){
    body{
        height: 100%; 
        background: $bg-color;
    }
    .container{
        max-width: 100%;
        background: transparent
    }
    .header{
        .header__logo img{
            width: 160px;
        }
        .header__subtitle {
            font-size: 25px;
        }
    }
    .form__container{
        margin-top: 80px;
        .form__description p{
            font-size: 27px;
        }
        .form__input{
            margin-top: 12px;;
            .input__text{
                width: 30%;
            }
            .input__submit{
                width: 10%;
            }
        }
    }
    .section__game{ 
        margin-top: 21px;
        padding: 0 100px;
        .section__text--tip{
            padding: 20px;
        }
        .game__section{
            display: flex;
            width: 100%; 
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 20px 0;
 
        }
        .list__column:first-child{
            padding-left: 0px;
        }
        .list__column:last-child{
            padding-right: 0px;
        }
        .list__column{
            width: 25%;
            padding: 0;
            margin: 5px;
           .item__answer{
               width: 100%;
           }
        }
    }
    .footer{
        padding-left: 100px;
        padding-right: 100px; 
    }
}
