@import "reset.scss";
@import "fonts.scss";

// Colors
$red: #AA1F2E;
$red-dark: #AB192D;
$bg-color: linear-gradient(to top, #ff8402,#ff9b31 );

// Sizes
$desktop-size: 1280px;
$mobile-size: 414px;
$desktop-breakpoint: 768px;
*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    background: $bg-color;
}

.header{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;

    .header__logo{
        width: 100%;
        height: auto;
        margin-top: 40px;
        img {
            width: 140px;
        }
    }
    .header__subtitle{
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #54555a;
        font-size: 20px;
    }
}

.form__container{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;

        .form__description, p {
            font-family: 'Roboto', sans-serif;
            font-weight: 1000;
            color: white; 
        } 

        .form__input{
            width: 100%;
            height: auto;
            margin-top: 10px;
            display: flex;
            justify-content: center;

            .input__text{
                width: 60%;
                height: 35px;
                font-size: 12px;
                background: rgb(119, 119, 121);
                border: none;
                color: #d4d3d3;
                font-family: Arial, Helvetica, sans-serif;
                padding-left: 15px;
                border-radius: 5px 0px 0px 5px;
            }

            ::placeholder{
                color: #d4d3d3;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .input__submit{
            border:none;
            width: 20%;
            height: 35px;
            background: #58595f;
            color: white;
            border-left: 1px solid white;
            border-radius: 0px 5px 5px 0px;
        }
         
}
    .input__submit:hover{
        background: #48494e;
    }

.section__game{
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 5px;
    .section__message{
        text-align: center;
        font-family: Arial, Helvetica;
        color:white;
        margin-bottom: 20px;
        display: none;
    }        
    .section__text--tip{
        text-align: start;
        font-family: Arial, Helvetica;
        color:white;
        padding: 0px 10px;
        font-size: 20px;
    }
    .game__section{
        border-bottom: 1px solid white;
        margin: 10px 0px;
        padding: 0px 0px 20px 0px;
        height: 400px;
        overflow: auto;
        scroll-behavior: smooth;
        .list__column{
            width: 100%;
            height: auto;
            text-align: center;
            box-sizing: border-box;
            padding: 0px 0px;
            .item__answer{
                height: 35px;
                background: #ffdfc2;
                margin-top: 7px;
                position:relative;
                display: flex;
                transition: .3s;
                border-radius: 5px;
                justify-content: space-between;
                .p__text{
                    text-align: center;
                    padding-top: 5px;
                    color: white;
                    font-family: Arial, Helvetica;
                }
            }
            
            .item__answer  .p__text{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color:white;
                visibility: hidden;
                position: absolute;
                background:#ff9b31;
                border-radius: 5px;
                border: 1px solid white;
            }
            .item__answer.not-selected:hover{
                border: 2px solid white;
                background: transparent;
            }
            
            .item__answer .fa-check{
                color: #A2F16B;
                visibility: hidden;
                position: absolute;
                text-align: right;
            }
            .fa-check{
                right: 0;
                margin: 10px 10px 10px 0;
            }
            .p__tooltip{
                box-sizing: border-box;
                width: 100%;
                height: auto;
                max-height: 300px;
                padding: 20px;
                text-align: center;
                border-radius: 15px;
                bottom: 50px;
                position: absolute;
                background: white;
                display: none;         
                left: 0;
                right: 0;
                animation: fadeOutTooltip .3s cubic-bezier(.36,.07,.19,.97) both ;
                font-family: Arial, Helvetica;
                .span_answer{
                    text-decoration: underline;
                    }
            }
            .p__tooltip:before{
                content: " ";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 20px;
                background: #fff;
                bottom: -5px;
                margin: auto;
                text-align: center;
                transform: rotate(45deg);
            }
        }
    }
    .span_answer{
        color: orange;
    }
}
@keyframes fadeOutTooltip{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.list__column:nth-child(-n+2){
    .item__answer:nth-child(-n + 3){
            .p__tooltip{
                z-index: 10000;  
                margin-top: 20px;   
                top: 100%;
                left: 0;
            }
            .p__tooltip:before{
                content: " ";
                position: absolute;
                z-index: 0;
                width: 20px;
                top: -100%;
                height: 20px; 
                background: #fff;
                margin: auto;
                text-align: center;
                transform: rotate(45deg);
            }

    }
}



.footer{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

        .footer__score-game, .footer__timer{
            display: flex;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-weight: 1000;
        }
        .footer__reset-button{
            height: 100%;
            .footer__button{
                width: 120px;
                background: #fd9526;
                height: 30px;
                border: 2px solid white;
                color: white;
                border-radius: 15px;
                outline: none;
                text-decoration: none;
            }
        }
        .footer__button:hover{
            background: #ff8402;
        }
}

//wrong effect
@keyframes wrong-answer{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}
.wrong-answer{
    animation: wrong-answer 1s cubic-bezier(.36,.07,.19,.97) both;
}

.modal__endgame{
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.30);
    
        .modal__container{
            width: 360;
            height: 150px;
            border: 2px solid white;
            background: $bg-color;
            border-radius: 15px;
            position: absolute;
                .modal__icon{
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px 10px 10px 0px;
                    right: 0;
                }
                .modal__icon i{
                    cursor: pointer;
                    color: rgb(0, 0, 0, 0.50);
                }
            .modal__information{
                width: 100%;
                height: 100%;
                display: inline-block;

                    .times__out__message{
                        visibility: hidden;
                        position: absolute;
                    }
            }
            .modal__information p, h4{
                font-size: 20px;
                text-align: center;
                margin: 5px;
                font-family: 'Roboto', sans-serif;
                font-weight: 1000;
                color: white; 
                padding:  0 20px;
            }
        }

}

//media query tablet
@media(min-width: 768px){
    .header{
        padding-top: 20px;
            .header__logo img{
                width: 170px;
            }
            .header__subtitle{
                font-size: 25px;
            }
    }
    
    .form__container{
        .form__description p{
            font-size: 25px;
            font-weight: 600;
        }
        .form__input{
            .input__text, .input__submit{
                height: 60px;
                font-size: 17px;
                margin-top: 15px;
            }
            ::placeholder{
                font-size: 17px;
            }
        }
    }
    .section__game{
        margin-top: 25px;
        padding: 0 40px;
            .section__text--tip{
                font-size: 30px;
                text-align: left;
            }
            .game__section{
                box-sizing: border-box;
                display: grid;
                grid-template-columns: auto auto;
                grid-column-gap: 10px;
                grid-row-gap: 10px; 
                height: auto;
                overflow: visible;
            }
    }
    
    .footer{
        .footer__score-game{ 
            padding: 15px;
            font-size: 25px;        
        }
        .footer__timer{ 
            padding: 15px;
            font-size: 25px;        
        }
        .footer__reset-button{
            .footer__button{
                width: 150px;
            }
        }
     }

    // .list__column:nth-child(-n+2){
//     .item__answer:nth-child(-n + 3){
//             .p__tooltip{
//                 z-index: 10000;  
//                 margin-top: 20px;   
//                 top: 100%;
//                 left: 0;
//             }
//             .p__tooltip:before{
//                 content: " ";
//                 position: absolute;
//                 z-index: 0;
//                 width: 20px;
//                 top: -100%;
//                 height: 20px; 
//                 background: #fff;
//                 margin: auto;
//                 text-align: center;
//                 transform: rotate(45deg);
//             }

//     }
// }
.list__column:nth-child(n){

    .item__answer:nth-child(n){
        .p__tooltip{
            z-index: 10000;
            margin-top: 0;  
            top: 0;
        }
        .p__tooltip::before{
                z-index: 1000;
                top: 90%;
                

        }
    }
}
}



//media query desktop
@media(min-width: 1200px){
    .container{
        max-width: 100%;
    }
    .header{
        .header__logo img{
            width: 160px;
        }
        .header__subtitle {
            font-size: 30px;
        }
    }
    .form__container{
        margin-top: 80px;
            .form__description p{
                font-size: 25px;
            }
            .form__input{
                margin-top: 12px;;
                    .input__text{
                        width: 30%;
                    }
                    .input__submit{
                        width: 10%;
                    }
            }
    }
    .section__game{ 
        margin-top: 21px;
        padding: 0 100px;
            .section__text--tip{
                padding: 20px;
            }
            .game__section{
                display: flex;
                width: 100%; 
            }
            .list__column{
                width: 25%;
                margin: 5px;
                    .item__answer{
                        width: 100%;
                    }
            }
    }


            .footer{
                padding-left: 100px;
                padding-right: 100px; 
                    .footer__reset-button{
                        .footer__button{
                            width: 170px;
                        }
                    }
            }



            .list__column:nth-child(n){
                .item__answer:nth-child(n){
                   .p__tooltip{
                       box-sizing: border-box;
                       width: 100%;
                       height: auto;
                       max-height: 300px;
                       padding: 20px;
                       text-align: center;
                       border-radius: 15px;
                       bottom: 50px;
                       position: absolute;
                       background: white;
                       display: none;         
                       left: 0;
                       right: 0;
                       animation: fadeOutTooltip .3s cubic-bezier(.36,.07,.19,.97) both ;
                       font-family: Arial, Helvetica;
                       .span_answer{
                           text-decoration: underline;
                           
                           }
                   }
                   .p__tooltip:before{
                       content: " ";
                       position: absolute;
                       width: 20px;
                       height: 20px;
                       left: 20px;
                       background: #fff;
                       bottom: -5px;
                       margin: auto;
                       text-align: center;
                       transform: rotate(45deg);
                   }
                }
            }
}